@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.home {
    position: relative;
    height: 100vh; 
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-image img {
    display: block;
    position: absolute;
    left: 5%; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    padding-right: 60px;
    display: flex;
}

.navbar ul li a {
    margin: 0 10px;
    font-weight: 1000;
    text-decoration: none;
    color: black; 
    font-size: .8rem;
    letter-spacing: .07em;
    text-transform: uppercase;
}

.navbar ul li a.nav-home {
    color: #10c9c3; 
}


.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}



.content {
    position: absolute;
    top: 50%;
    left: 55%; 
    transform: translateY(-50%);
    text-align: left; 
    color: white;
    z-index: 1;
}

.content h1 {
    color:rgba(0, 0, 0, 0.812);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.content p {
    font-size: 18px;
    color: grey;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #10c9c3;
    text-decoration: none;
    border-radius: 5px;
    color: white; 
}

.about {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.about p {
    color: grey;
    margin-bottom: 30px;
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 50px 0;
}

.skills-list {
    flex: 1;
    padding-left: 100px;
    padding-right: 70px;
    max-width: calc(50%-170px);
}

.skills-image {
    flex: 1;
    text-align: center;
    max-width: 50%;
    max-height: auto;
}

.skill {
    margin-bottom: 20px;
}

.skills h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

.skill  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.progress-bar {
    background-color: rgba(128, 128, 128, 0.29);
    height: 3px;
    border-radius: 10px;
    margin-bottom: 50px;

}

.progress {
    padding: 2px 0;
    text-align: center;
    background-color: #10c9c3;
    color: rgb(0, 0, 0);
}